    h1 {
        font-family: "Arial", Arial, bold;
        font-size: 42px;
        color: #E6007E;
    }

    h2 {
        font-family: "Arial", Arial;
        font-size: 24px;
        color: #008D36;
    }

    h3 {
        font-family: "Arial", Arial, bold;
        font-size: 24px;
        color: #E6007E;
    }


    p {
        font-family: "Roboto", Roboto, sans-serif;
        font-size: 18px;
        color: black;
        text-align: justify
    }

    ul {
        font-family: "Roboto", Roboto, sans-serif;
        font-size: 18px;
        color: black;
        list-style-type: square;
    }

    table {
        font-family: "Roboto", Roboto, sans-serif;
        font-size: 18px;
        color: black;
    }

    .links {
        float: left;
        margin-left: 10px;
        margin-right: 10px
    }

    .rechts {
        float: right;
        margin-right: 10px;
        margin-left: 10px;
    }

    .row {
        font-family: "Source Sans Pro", Roboto, sans-serif;
        font-size: 18px;
        background-color: none;
    }

    li a {
        width: 150px;
        align-content: center;
        text-decoration: none;
        color: black;
    }



    li a:hover:not(.active) {
        border-bottom: 2px solid #E6007E;
    }

    button {
        background-color: #E6007E;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    button:hover {
        background-color: white;
        color: #E6007E;
    }

    .box {
        position: relative;
        width: 100%;
    }

    .box img {
        width: 100%;
        height: auto;
    }

    .box middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .box .btn {
        background-color: #E6007E;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .box img:hover {
        opacity: 50%;
    }

    .box .btn:hover {
        background-color: white;
        color: #E6007E;
    }
